<%= simple_form_for(@secret, html: { class:'form-horizontal' }) do |f| %></br>
	<div class="form-group">	
		<%= f.text_area :title, placeholder: "Τι σκέφτεστε;", class: "form-control form-style", maxlength: 1000 %> <br>
		<div class="field">
    <%= f.select :check_in, "
<option>Τμήμα Μηχανικών Πληροφορικής Τ.Ε.</option>
<option>Τμήμα Μηχανολόγων Μηχανικών Τ.Ε.</option>
<option>Τμήμα Πολιτικών Μηχανικών Τ.Ε.</option>
<option>Tμήμα Νοσηλευτικής</option>
<option>Τμήμα Ιατρικών Eργαστηρίων</option>
<option>Τμήμα Διοίκησης Επιχειρήσεων</option>
<option>Τμήμα Λογιστικής και Χρηματοοικονομικής</option>
<option>Τμήμα Τεχνολόγων Γεωπόνων</option>
<option>Τμήμα Μηχανικής Βιοσυστημάτων</option>
<option>Τμήμα Ηλεκτρολόγων Μηχανικών Τ.Ε.</option>
<option>Τμήμα Τουριστικών Επιχειρήσεων</option>
<option>Κυλικείο</option>
<option>Άλλο</option>".html_safe,{}, :id => "tmimata" %>
  </div>
	</div>
	<%= f.button :submit, "Υποβολή" %>

<% end %>
